@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800;600&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    
}
hr {
    border: 0.05rem solid #ffffff79;
    opacity: 0.5;
}
.outer{
    max-width: 400px;
}
/* Images */
.inner{
    background-color:hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 1rem;
    margin: 0 2em;
}
.inner #mainimg{
    max-width: 100%;
    border-radius: 1rem;   
}
/* Texts */

.text h2{
    color:hsl(0, 0%, 100%);
    font-size: 1.4rem;
    margin-block: 1.3rem;
    cursor: pointer;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.text h2:hover{
    color:hsl(178, 100%, 50%);  
}

.firstp{
    color:hsl(215, 51%, 70%);
    margin-block: 1.3rem;
}
.text .value{
    color:hsl(215, 51%, 70%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1.3rem;
}

.text .value div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.85rem;
}

.text .value div #eth{
    color: hsl(178, 100%, 50%);
}

.buttom{
    color: hsl(215, 51%, 70%);
    margin-top: 1.3rem;
    font-size: 0.85rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}
.buttom p a{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}
.buttom p a:hover{
    text-decoration: none;
    color:hsl(178, 100%, 50%);
}
.buttom img{
    width: 2.2rem;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}