@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800;600&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.outer{
    max-width: 400px;
}
/* Images */
.inner{
    background-color:hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 1rem;
    text-align: center;
    margin: 0 2em;
}
.inner #mainimg{
    max-width: 100%;
    border-radius: 1rem;   
}
/* Texts */
.text h2:hover{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
.text h2{
    color:hsl(0, 0%, 100%);
}
.firstp{
    color:hsl(215, 51%, 70%);
    margin: 1rem;
}
.right{
    color:hsl(178, 100%, 50%);
}
.left{
    color: hsl(215, 51%, 70%);

}
.buttom p{
    color: hsl(215, 51%, 70%);
}
.buttom p a{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
}
.buttom p a:hover{
    text-decoration: none;
    color:hsl(178, 100%, 50%)
}
.buttom img{
    width: 1rem;
}